{% extends 'base.html' %}
{% block title %}Login - E-commerce{% endblock %}

{% block content %}
  <div class="auth">
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %}
      <label>Email</label>
      <input type="text" name="username" required placeholder="you@example.com">


      <label>Password</label>
      <input type="password" name="password" required>

      <button class="btn primary" type="submit">Login</button>
    </form>
    <p class="muted">No account? <a href="{% url 'register' %}">Register</a></p>
  </div>
{% endblock %}

